<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ name }}</title>
{% include "move_card_print_style.html.jinja2" %}
{% include "move_card_style.html.jinja2" %}
</head>
<body>
<div class="controls-row">
  <a href="/convert">Home</a>
  <form method="post" action="{{ edit_form_action }}">
    {% for field_name, field_value in edit_form_fields.items() %}
    <input type="hidden" name="{{ field_name }}" value="{{ field_value | e }}">
    {% endfor %}
    <button type="submit">Edit this classification</button>
  </form>
  <button type="button" onclick="window.print()">Print</button>
</div>
{% include "move_card_fragment.html.jinja2" %}
{% include "move_card_print_script.html.jinja2" %}
</body>
</html>
