<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ name }}</title>
{% include "move_card_print_style.html.jinja2" %}
{% include "move_card_style.html.jinja2" %}
</head>
<body>
<div class="controls-row">
  <button type="button" onclick="window.print()">Print</button>
</div>
{% include "move_card_fragment.html.jinja2" %}
{% include "move_card_print_script.html.jinja2" %}
</body>
</html>
